@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap");
@import "tailwindcss";

.font-jm {
  font-family: "Just Me Again Down Here", serif;
  font-weight: 400;
  font-style: normal;
}
